body {
  background-color: #2E8B57;
  font-family: arial;
  text-align: center;
}

h1 {
  color: #FFFAFA;
  font-family: arial;
  text-align: center;
}

p {
  color: #FFFAFA;
  font-family: arial;
  text-align: center;
}

a {
  color: #FA8072;
  font-family: arial;
  text-align: center;
}

h2 {
  color: #F4A460;
  font-family: arial;
  text-align: center;
}